<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
	    <key>Label</key>             <string>com.jslsolucoes.nginx.admin</string>
	    <key>Program</key>           <string>/usr/bin/java</string>
	    <key>ProgramArguments</key>
	        <array>
	             <string>-jar</string>
				 <string>/opt/nginx-admin/bin/nginx-admin-standalone-1.0.1-swarm.jar</string>
				 <string>-p</string>
				 <string>3000</string>
				 <string>-c</string>
				 <string>/opt/nginx-admin</string>
	        </array>
	</dict>
</plist>