<ui-form action="/hello" method="get">
  <ui-form-group label="hello" forElement="hello">
    <ui-input name="hello" id="myid"></ui-input>
  </ui-form-group>
  <ui-form-group label="hello2" forElement="hello2">
    <ui-input name="hello2" required="true" value="dsdsds"></ui-input>
  </ui-form-group>
  <ui-form-group label="hello3" forElement="hello3">
      <ui-input></ui-input>
  </ui-form-group>
  <ui-toolbar>
      <ui-button-group>
        <ui-button state="secondary" label="Save" type="submit"></ui-button>
        <ui-button state="secondary" label="Save 2"></ui-button>
      </ui-button-group>
  </ui-toolbar>
</ui-form>

