<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
	    
		<property name="hibernate.dialect">org.hibernate.dialect.H2Dialect</property>
		<property name="hibernate.connection.datasource">java:jboss/datasources/nginx-admin</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">false</property>
		
		<mapping class="com.jslsolucoes.nginx.admin.model.User"></mapping>
		<mapping class="com.jslsolucoes.nginx.admin.model.Smtp"></mapping>
		<mapping class="com.jslsolucoes.nginx.admin.model.Nginx"></mapping>
		<mapping class="com.jslsolucoes.nginx.admin.model.SslCertificate"></mapping>
		<mapping class="com.jslsolucoes.nginx.admin.model.Strategy"></mapping>
		<mapping class="com.jslsolucoes.nginx.admin.model.Server"></mapping>
		<mapping class="com.jslsolucoes.nginx.admin.model.Upstream"></mapping>
		<mapping class="com.jslsolucoes.nginx.admin.model.UpstreamServer"></mapping>
		<mapping class="com.jslsolucoes.nginx.admin.model.VirtualHost"></mapping>
		<mapping class="com.jslsolucoes.nginx.admin.model.VirtualHostAlias"></mapping>
		<mapping class="com.jslsolucoes.nginx.admin.model.VirtualHostLocation"></mapping>
		<mapping class="com.jslsolucoes.nginx.admin.model.ResourceIdentifier"></mapping>
		<mapping class="com.jslsolucoes.nginx.admin.model.Configuration"></mapping>

	</session-factory>
</hibernate-configuration>