<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>             <string>com.jslsolucoes.nginx.admin</string>
    <key>ProcessType</key>       <string>Interactive</string>
    <key>Disabled</key>          <false/>
    <key>RunAtLoad</key>         <true/>
    <key>KeepAlive</key>         <true/>
    <key>SessionCreate</key>     <true/>
    <key>LaunchOnlyOnce</key>    <false/>
    <key>UserName</key>          <string>nginx-admin</string>
    <key>GroupName</key>         <string>nginx-admin</string>
    <key>ExitTimeOut</key>       <integer>600</integer>
    <key>Program</key>           <string>/usr/bin/java</string>
    <key>ProgramArguments</key>
        <array>
             <string>-jar</string>
			 <string>/opt/nginx-admin/bin/nginx-admin-standalone-1.0.1-swarm.jar</string>
			 <string>-p</string>
			 <string>3000</string>
			 <string>-c</string>
			 <string>/opt/nginx-admin</string>
        </array>
    <key>WorkingDirectory</key>  <string>/opt/nginx-admin</string>
</dict>
</plist>